.bodyAbout {
  padding-top: 2%;
  /* background-color: blueviolet; */
}

.imageThumb {
  width: 80%;
  border-radius: 20px;
}

.MyIcon {
  margin-left: -10px;
  border-radius: 20px;
  border: 10px solid white;
  width: 11%;
}
