.body {
  padding: 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  /* font-size: max(100px, 50%); */
  font-size: max(50px, 1vmin);
}

.subTitle {
  color: #6E7191;
  font-size: max(25px, 1vmin);
}

.randowImage {
  /* padding-left: 30px; */
  border: none;
  border-radius: 20px;
}

.intro {
  display: flex;
}

.infoIcon {
  padding-right: 2%;
}

.infoIcon:hover {
  transition: 0.5s;
  color:#0096B7;
  /* color: #4E4B66; */
}
