* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.Link {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

nav {
  width: max(678px, 100%);
  height: 54px;
}

.navBar {
  background-color: #EFF0F6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoIcon {
  color:#0096B7;
}

.logoIcon:hover {
  color:#1CC8EE;
  transition: 0.5s;
}

.iconStyle {
  color: #6E7191;
  padding: 5px;
}

.iconStyle:hover {
  border: none;
  border-radius: 5px;
  background-color: #D9DBE9;
}

.navbarRight {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.navItem {
  margin-top: 2%;
  padding-right: 2%;
}

.navbarLeft {
  padding: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 200px;
}

.subBody {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.title{
  font-size: 200%;
  /* background-color: #0096B7; */
}

.subTitle {
  display: flex;
  justify-content: center;
  color: #6E7191;
  font-size: 100%;
}

.randowImage {
  /* padding-left: 30px; */
  border: none;
  border-radius: 20px;
  width: 35%;
  height: auto;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoIcon {
  padding-right: 2%;
}

.infoIcon:hover {
  transition: 0.5s;
  color:#0096B7;
  /* color: #4E4B66; */
}

@media (max-width: 1180px) {
  .body {
    flex-direction: column;
  }

  .randowImage {
    margin-top: 30px;
  }
}

@media (max-width: 700px) {
  .body {
    padding: 30%;
    margin: 0;
  }

  .navBar {
    display: none;
  }

  .net-name {
    display: none;
  }

  .randowImage {
    display: none;
  }

  .FooterItens {
    display: flex;
    list-style-type: none;
    background-color: #EFF0F6;
    justify-content: space-evenly;
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
  }

  .navItemTag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #6E7191;
    width: 100%;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-bottom: 2vw;
  }

  .navItemTag:hover {
    color:#0096B7;
    transition: 0.5s;
  }

  .startButton {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 32px;
    /* margin: 10px 2px; */
    /* width: 100px;
    height: 50px; */
    background-color: #0096B7;
    color: #fafafa;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
  }

  .startButton:hover {
    background-color: #1CC8EE;
    transition: 0.5s;
  }
}

@media only screen and (min-width: 700px) {
  .FooterItens, .startButton {
    display: none;
  }
}
